*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/AndroidProjectSystem.xml
/.idea/copilotDiffState.xml
/.idea/deploymentTargetSelector.xml
/.idea/deviceManager.xml
/.idea/migrations.xml
/.idea/studiobot.xml
/app/google-services.json

# Firebase
.firebase/
*-debug.log
functions/node_modules/
